@import '../../styles/base.less';

@b: e('.app');

@{b} {
    min-height: 100vh;
    width: 500px;
    background-color: #000a18;

    &__main {
        text-align: center;
        overflow: hidden;
        border-radius: 50px;
    }

    &__days {
        padding: 0 32px;
    }
}
