@import '../../styles/base.less';

@b: e('.main-info');

@{b} {
    &__image-wrapper {
        margin: 0 auto;
        display: block;
        width: 250px;
        height: 250px;
    }

    &__image {
        max-width: 100%;
    }

    &__temp {
        position: relative;
        font-size: 150px;
        font-weight: 500;
        line-height: 0.8;
        &:after {
            position: absolute;
            top: 0;
            content: '°';
            font-size: 60px;
            color: @mutedWhite;
        }
    }

    &__situation {
        font-size: 32px;
    }

    &__date {
        font-size: 16px;
        color: @mutedWhite;
    }
}